
@{
    ViewBag.Title = "Index2";
}



<h2>INDEX</h2>
<div>
    <div >
        <h2>Alunos</h2>
            <div class="col-md-10">
                <label>Informe o ID do aluno</label>
                <input class="form-control" type="text" id="idBusca" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-xs btn-primary busca-usuario" onclick="BuscaAluno()">Buscar aluno</button>
            </div>
    </div>

        <input type="text" id="resp.NomeAluno"/>

    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}

<script language="javascript" type="text/javascript">
    function BuscaAluno() {
        var idAluno = $('#idBusca').val();

        $.ajax({
            url: '/api/AlunoApi/GetAluno',
            method: 'GET',
            data: { id: idAluno },
            success: function (data) {
                $('#idBusca').val(data.Nome);
                console.log(data.IdAluno);

            },
            error: function (data) {
                alert("ID não encontrado em nosso sistema !");
            }
        });
    }
</script>


