@model AspClassMgt.Models.Matricula
@{

    ViewBag.Title = "Index";
    string nomeInstituicao = HttpContext.Current.Session["instituicaoLogadaNome"].ToString();
    string idInstituicao = HttpContext.Current.Session["instituicaoLogadaID"].ToString();
}

<h2>INDEX</h2>
<div>
    <h2>Alunos</h2>

    @Html.ActionLink("Matricular", "Create", "Matriculas")



</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}
<script language="javascript" type="text/javascript">
    function BuscaAlunoFiltrada() {
        var idAluno = $('#idBusca').val();
        var idInstituicao = @idInstituicao;
        $.ajax({
            url: '/api/AlunoApi/GetAlunoInstituicao',
            method: 'GET',
            data: { idAluno: idAluno, idInstituicao: idInstituicao },
            success: function (data) {
                $('#idBusca').val(data.Nome);
                console.log(data.IdAluno);
                console.log(data.instituicaoAluno);
            },
            error: function (data) {
                alert("ID não encontrado em nosso sistema !");
            }
        });
    }
</script>

<script language="javascript" type="text/javascript">
    function BuscaAlunoMatricula() {
        var idAluno = $('#idBusca').val();
        $.ajax({
            url: '/api/AlunoApi/GetAluno',
            method: 'GET',
            data: { id: idAluno },
            success: function (data) {
                $('#idBusca').val(data.Nome);
                $('#MATinstituicaoID').val(data.instituicaoAluno);
                $('#MATalunoID').val(data.IdAluno);
                console.log(data.instituicaoAluno);
                console.log(data.IdAluno);
            },
            error: function (data) {
                alert("ID não encontrado em nosso sistema !");
            }
        });
    }
</script>

<script language="javascript" type="text/javascript">
    function BuscaAluno() {
        var idAluno = $('#idBusca').val();
        $.ajax({
            url: '/api/AlunoApi/GetAluno',
            method: 'GET',
            data: { id: idAluno },
            success: function (data) {
                $('#idBusca').val(data.Nome);
                console.log(data.IdAluno);

            },
            error: function (data) {
                alert("ID não encontrado em nosso sistema !");
            }
        });
    }
</script>
